<p id="notice"><%= notice %></p>

<p>
  <strong>Newschronic:</strong>
  <%= @gamelogging.newschronic %>
</p>

<p>
  <strong>Eventime:</strong>
  <%= @gamelogging.eventime %>
</p>

<p>
  <strong>Scorepl1:</strong>
  <%= @gamelogging.scorepl1 %>
</p>

<p>
  <strong>Scoreplayer2:</strong>
  <%= @gamelogging.scoreplayer2 %>
</p>

<p>
  <strong>Finalpoints:</strong>
  <%= @gamelogging.finalpoints %>
</p>

<p>
  <strong>Game:</strong>
  <%= @gamelogging.game %>
</p>

<p>
  <strong>Player1:</strong>
  <%= @gamelogging.player1 %>
</p>

<p>
  <strong>Player2:</strong>
  <%= @gamelogging.player2 %>
</p>

<%= link_to 'Edit', edit_gamelogging_path(@gamelogging) %> |
<%= link_to 'Back', gameloggings_path %>
